Upload.zip
Latex/inhalt/Anhang.tex
Latex/inhalt/Einleitung.tex
Latex/inhalt/Erklärung.tex
Latex/inhalt/Fazit.tex
Latex/inhalt/Kapitel2.tex
Latex/inhalt/Kapitel3.tex
Latex/inhalt/Kapitel4.tex
Latex/inhalt/Titelseite_3Autoren.tex
Latex/inhalt/Titelseite_Praxisbeleg.tex